<div class="wrapper">
  <h3>Фильтр</h3>
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="field-wrap">
      <mat-form-field>
        <mat-label>Логин</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Телефон</mat-label>
        <input matInput formControlName="phone" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Дата создания</mat-label>
        <input matInput [matDatepicker]="create" formControlName="create_at" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="create"
        ></mat-datepicker-toggle>
        <mat-datepicker #create></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Статус</mat-label>
        <mat-select formControlName="status">
          <mat-option value="ACTIVE">Active</mat-option>
          <mat-option value="blocked">Blocked</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Роль</mat-label>
        <mat-select formControlName="is_admin">
          <mat-option [value]="true">Admin</mat-option>
          <mat-option [value]="false">User</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Дата изменения</mat-label>
        <input matInput [matDatepicker]="change" formControlName="update_at" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="change"
        ></mat-datepicker-toggle>
        <mat-datepicker #change></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="btn-list">
      <button mat-button type="submit" [disabled]="!form.dirty">
        Применить
      </button>
      <button mat-button (click)="cancel()" type="button">Отмена</button>
      <button mat-button (click)="resetForm()" type="reset">Сбросить</button>
    </div>
  </form>
</div>
