<div class="wrapper">
  <app-header></app-header>
  <mat-drawer-container>
    <mat-drawer mode="side" opened>
      <mat-selection-list>
        <a mat-list-item routerLink="#">Суперагент</a>
        <a mat-list-item routerLink="/">Управление</a>
        <a mat-list-item routerLink="#">Субагенты</a>
      </mat-selection-list>
    </mat-drawer>
    <mat-drawer-content>
      <div class="inner">
        <h1>Настройка учетных записей сотрудников контрагента</h1>
        <div class="btn-list">
          <button mat-button>Добавить</button>
          <button mat-button (click)="unblockUsers()">Разблокировать</button>
          <button mat-button (click)="blockUsers()">Заблокировать</button>
          <button mat-button disabled>Фильтр</button>
        </div>
        <app-filter></app-filter>
        <app-table></app-table>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
